@include responsive_rsHeader() {
  // HEADER
  .header__nav {
    background: $primary-color;
  }

  .header__menu {
    display: none !important;
  }

  .header__menu-mobile {
    display: flex !important;
  }
}

@include responsive_s550() {
  // HEADER
  .header__logo {
    padding-left: 0 !important;
  }

  // HERO
  .hero-image h2 {
    font-size: 40px;
    line-height: 60px;
  }

  .hero-content-info {
    padding: 32px;

    h1 {
      font-size: 52px;
    }

    p {
      margin: 12px 0;
      font-size: 16px;
    }
  }

  .hero-content__buttons {
    margin: 41px 0;
  }

  .hero-content__testimonial {
    padding: 32px;
    gap:0;
  }

  .hero-content__customer {
    h4 {
      font-size: 58px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  // ABOUT US
  .about-us{
    min-height: 550px;
    &__image-sushi2 img,
    &__image-sushi3 img {
      width: 75%;
      height: 160px;

      object-fit: contain;
    }

    &__image div {
      padding: 32px;
    }

    &__button {
      font-size: 14px;
      padding: 12px 22px;
      img {
        margin-left: 12px;
      }
    }

    &__content {
      padding: 32px;

      .sushi__title {
        font-size: 32px;
      }
      .sushi__description {
        font-size: 16px;
      }
    }
  }

  // TRENDING
  .trending__image img {
    width: 70%;
    height: 70%;
  }

  .trending__content {
    padding: 32px;
  }

  // SUBSCRIPTION
  .subscription {
    padding: 64px 32px;

    h2 {
      font-size: 68px;
      line-height: 100px;
    }

    &__form {
      flex-direction: column;
      gap: 20px;
      min-width: 100%;
      border-radius: 20px;
      padding: 0;
      border: none;

      input {
        min-height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 10px 20px;
        border-radius: 30px;
      }
    
      button {
        min-width: 100%;
      }
    }
  }
}

@include responsive_s750() {
  // HERO
  .hero-image h2 {
    font-size: 70px;
    line-height: 90px;
  }

  // ABOUT US
  .about-us {
    &__image {
      flex-direction: column;
    }
  
    &__image-sushi3 {
      border-bottom: 8px solid $color-creamson;
      border-right: none;
    }
  
    &__button {
      display: block;
      top: 47%;
    }
  }
  
  // POPULAR
  .popular {
    &-foods {
      padding: 64px 32px;
    }
  
    &-foods__card, &-foods__card.active-card {
      min-width: 100%;
    }
  }
}

@include responsive_s900() {
  
}

@include responsive_s1024() {
  

  // TRENDING
  
}

@include responsive_s1024only() {
  .sushi__title {
    font-size: 52px;
  }

  .sushi__description {
    margin: 0;
  }
  
  // ABOUT US
  .about-us {
    flex-direction: column;
  }

  .about-us__image {
    flex-direction: row;
  }

  .about-us__image-sushi3 {
    border-bottom: none;
    border-right: 8px solid $color-creamson;
  }

  .about-us__button {
    display: none;
  }
  // TRENDING
  .trending {
    &-sushi {
      flex-direction: column;
    }

    &-drinks {
    flex-direction: column-reverse;
    }

    &__list {
      gap: 0;
    }
    &__image {
    width: 100%;
    background-size: cover;
    }

    &__discover {
    display: none;
    }

    &__arrow {
    display: none;
    }
  }

  // SUBSCRIPTION
  .subscription {
    padding: 48px;
    h2 {
      font-size: 72px;
      line-height: 86px;
    }
    p {
      margin-top: 10px;
    }
  }
}

@include responsive_s1060() {
  // HERO
  .hero {
    flex-direction: column;
    &-image img {
      width: 100%;
      transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
    }
  }

}